.topstrip{
    width:99%;
    overflow-y: scroll;
    position:fixed;
    top:0px;
    height:50px;
    background-color: #810a09;
    color:white;
    text-align: right;
    font-size: 16px;
    font-family: Georgia;
}
.topbar{
    display:block;
    width:100%;
    overflow-y: scroll;
    position:fixed;
    top:50px;
    bottom:65px;
}
.rounded-div-bot{
    display:inline-block;
    clear:left;
    max-width:80%;
    border-radius: 5px;
    border:solid 1px #880B09;
    background-color: #880B09;
    float:right;
    margin: 10px;
    min-height: 1em;
	font-size: 18px;
	color:white;
}
.rounded-div{
    display:inline-block;
    clear:right;
    max-width:80%;
    border-radius: 5px;
    margin: 10px;
    border:solid 1px #00FF53;
    background-color: #00FF53;
    font-size: 18px;
	color:black;
}
.inputbox{
    outline:none;
    width:98%;
    height:40px;
    position:fixed;
    bottom:25px;
	font-size: 25px;
}
.avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:7%;
    float:left;
    padding-right:10px;
}

.avatarsvt{
    display:flex;
    justify-content:center;
    align-items:center;
    width:7%;
    float:right;
    padding-right:10px;
}

.msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #ffffff transparent transparent;            
}
.msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:14px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: whitesmoke transparent transparent transparent;           
}  

@media only screen and (max-width: 600px) {
  div{position:relative;
  }
  
  .avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:20%;
    float:left;
    padding-right:10px;
}

.avatarsvt{
    display:flex;
    justify-content:center;
    align-items:center;
    width:20%;
    float:right;
    padding-right:10px;
}
  
}